.navbar-inverse{
    background-color: #2c3e50;

}
#navbar a {
    color: #ffffff;
}
.row{
    margin: 0;
}
.navbar-inverse{
    color: #ffffff !important;
    font-weight: 800;
}
.navbar-brand{
    color: #ffffff;
}
#start{
    background-color: #18bc9c;
}
.btn--circle {
    border-radius: 50%;
}
.img{
    margin:0 auto;
    margin-top: 100px;
}
.heading{
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
}
/*Screen < 400px run code beblow*/
@media (max-width: 400px) {
    .heading{
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        color: #ffffff;
    }
}


hr.star-light,
hr.star-primary {
   padding: 0;
   border: none;
   border-top: solid 5px;
   text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}
hr.star-light:after,hr.star-primary:after{
    content: "\f005";
    font-family:FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8cm;
    font-size: 2em;
    padding: 0 0.25em;
}
hr.star-light{
    border-color: white;
}
hr.star-light:after{
    background-color: #18bc9c;
    color: white;
}
hr.star-primary{
    border-color: #2c3e50;
}
hr.star-primary:after{
    background-color: white;
    color: #2c3e50;
}
.textDV{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 60px;
}
.textport{
    text-align: center;
    color: #000000;
    font-size: 50px;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 20px;
}
#showimg{
    background-color: white;
    margin-bottom: 100px;
}
.Simg{
    margin-bottom: 20px;
}
#about{
    background-color: #18bc9c;
}
.textabout{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;
    margin-top: 100px;
}
.font1{
    font-size: 20px;
    margin-top: 50px;
    padding-left: 100px;
    color: white;
    margin-right: 50px;
    margin-bottom: 50px;
}

.button{
    text-align: center;
}
.btn-outline{
    background-color: transparent;
    border: solid #ffffff;
    margin-bottom: 100px;
    color: white;
}
.textcontact{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
}
.btn-success{
    background-color: #18bc9c;
    margin-left: 14px;
    margin-bottom: 100px;
}
#footer{
    background-color: #2c3e50;
}
.text0{
    margin-top: 70px;
    font-size: 15px;
    color: white;
    font-weight: 800;
    text-align: center;
}
.text0 p{
    margin-top: 20px;
    margin-bottom: 70px;
}
.btn--circle{
    padding: 10px;
    border: solid #ffffff;
    background-color: transparent;
    color: white;
}
.list-inline{
    margin-top: 40px;
}
#copy{
    background: #122b40;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
hr.star-light1,
hr.star-primary1 {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}
hr.star-light1:after,hr.star-primary1:after{
    content: "\f005";
    font-family:FontAwesome;
    background: #000000;
    display: inline-block;
    position: relative;
    top: -0.8cm;
    font-size: 2em;
    padding: 0 0.25em;
}
hr.star-light1{
    border-color: #000000;
}
hr.star-light1:after{
    background-color: white;
    color: #000000;
}
hr.star-primary1{
    border-color: #2c3e50;
}
hr.star-primary1:after{
    background-color: white;
    color: #2c3e50;
}




